<nav class="navbar">
  <div class="home">
  <LinkTo @route="nav-home">
    <strong>Home</strong>
  </LinkTo>
  </div>
  <div class="stories">
  <LinkTo @route="nav-stories">
    <strong>Stories</strong>
  </LinkTo>
  </div>
</nav>
