.banner  .btn-contact {
  width: 50%;
  margin: 0 auto;
  display: block;
  color: $white;
  text-decoration: none;
  background-color: $black;
  text-shadow: 0px 1px 20px $black;
  padding: 12px 25px;
  margin-top: 30px;
  box-shadow: 0px 5px 15px $grey-color;
  border-radius: 6px;
  transition: ease 0.3;
}

.banner .btn-contact:hover {
  background-color: $purple-color;
}
