footer {
  background-color: $white-2-color;
  text-align: center;
  padding: 10px;
}
.links > a {
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
  color: $brown-color;
}

.links > a:hover {
  color: $brown-2-color;
}
