footer {
  background-color: #65493d;
  text-align: center;
  padding: 10px;
}
.links > a {
  font-size: 25px;
  color: #DCE1DD;
  text-decoration: none;
  margin: 10px;
}

.links > a:hover {
  color: #e2bd9e;
}
