 <!-- code a Hero / Banner section -->
  <div class="banner">
    <div class="container-banner">
      <h1>Becoming a developer</h1>
      <p id="banner-p">What's your story?</p>
      <a href="mailto:abadia@free.fr?subject=My testimony - Becoming A Developer&body=Tell us more! Your name/nickname, a photo of you/avatar, what year did you start coding? What social media would you like to share on the blog? Your story:">CONTACT ME!</a>
    </div>
  </div>
  <!-- code a "How it works" section -->
<div class="container">
  <h2 class="text-center">HOW DOES IT WORK?</h2>
  <div class="cards">
    <div class="card">
      <i class="fas fa-mug-hot"></i>
      <h4>Tell me about your yourself</h4>
      <p>What is your background?</p>
      <p>How did you gain interest in development?</p>
      <p>How did you learn coding?</p>
      <p>What year did you start coding?</p>
    </div>

    <div class="card">
      <i class="fas fa-smile-beam"></i>
      <h4>Send me your best smile!</h4>
      <p>Or your favorite avatar picture
      </p>
    </div>

    <div class="card">
      <i class="fas fa-code"></i>
      <h4>Being a developer today</h4>
      <p>How did you find your first developer role?</p>
      <p>What recommendations would you give to future developers?</p>
    </div>
  </div>
</div>
